<%= javascript_include_tag "raphael-min-1.5.2.js" %>
<%= javascript_include_tag "cufon/AllertaStencil_400.font.js" %>
<%= javascript_include_tag "CodeMirror-0.94/js/codemirror.js" %>

<!-- ICanHaz templates -->

<script type="text/html" id="documentItemTemplate">

  <div class="document">
         <div class="display">
           <div class="document-title">{{ title }}</div>
           <div class="document-path">{{ path }}</div>
           <span class="document-destroy"></span>
         </div>
       </div>

</script>

<script type="text/javascript">
var jsEditor = undefined;
var cssEditor = undefined;

$(document).ready(function() {  
  App.init();
  
  $('#editors').accordion({
    active: '.selected',
       header: '.codeHeader', 
       navigation: true,  
       fillSpace: true, 
       animated: 'easeslide'
  });
  jsEditor = new CodeMirror(CodeMirror.replace("jsCode"), {
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    path: "javascripts/CodeMirror-0.94/js/",
    stylesheet: "javascripts/CodeMirror-0.94/css/jscolors.css",
    lineNumbers: true,
    height: "100%"
    });
  cssEditor = new CodeMirror(CodeMirror.replace('cssCode'), {
      parserfile: ["parsecss.js"],
      path: "javascripts/CodeMirror-0.94/js/",
      stylesheet: "javascripts/CodeMirror-0.94/css/csscolors.css",
      lineNumbers: true,
      height: "100%"
      });
      });
      
     
    
</script>

<section id="documentSelectionSection">
  <div class="leftCol">
  <div id="documentControlContainer" class="liquid">
    <h2>Documents</h2>
    <div id="documentSelectorContainer" class="liquid">
        <button class="new-document">New</button>
        <button class="refresh-document">Refresh</button>
        <ul id="documentList" class="liquid"></ul>
    </div>
  </div>
  <div id="notice"></div>
  </div>
</section>

<section id="mainSection" class="fullHeight">
  <div class="rightCol">
  <h2>Current Document</h2>
  <div class="editorContainer">
    <div class="fullWidth">
      <button id="saveDocumentButton">Save</button>
      <button id="resetDocumentButton">Revert</button>
    </div>
    <div id="editors" class="fullHeight">
       <h2 class="codeHeader selected"><a >JavaScript</a></h2>
       <div id="jsEditor" class="codeContainer"> 
          <div id="jsCode"></div>
       </div>
       <h2 class="codeHeader"><a >CSS</a></h2>
       <div id="cssEditor" class="codeContainer">
          <div id="cssCode"></div>
        </div>
    </div>
  </div>
  <div id="drawingCanvas">
    <iframe src="/document_repo/Doc_1/index.html" width="100%" height="100%"></iframe>
  </div>
  </div>
</section>



<footer>footer of the main page</footer>
