/* copyright 2010-2011 Sean Zehnder */
/* this is the standard raphael_nodebox css include */

.liquid {
    width: 100%;
    height: 100%;
    box-sizing: border-box; -o-box-sizing: border-box; -icab-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    background-color: #222;
}

body {
    padding: 0px;
    margin: 0px;
}

#canvasContainer {
    padding: 5px;
}

#canvas {
    border: 1px solid #333;
    background-color: white;
}